<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/cc10a71280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Main</title>
</head>

<body>
    <header>
        <h1>Team Name</h1>
    </header>
    <main>
        <div id="container_d">
            <div id="card_d">
                <div id="card_header_d">
                    <h2>Name</h2>
                    <h2><i class="fas fa-mug-hot"></i>Role</h2>
                </div>
                <div id="card_body_d">
                    <div id="card_info_d">
                        <div id="card_id_d" class="info_d">
                            <label id="id_l" for="">ID: </label>
                        </div>
                        <div id="card_email_d" class="info_d">
                            <label id="email_l" for="">Email: </label>
                        </div>
                        <div id="card_user_specific_d" class="info_d">
                            <label id="user_specific_l" for="">User Specific:</label> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>